.page-title {
  margin-bottom: 24px;
}

.stats-grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(220px, 1fr)
    );

  gap: 20px;
}

.stat-card {
  padding: 20px;
}

.stat-card h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.stat-card h1 {
  margin-top: 16px;
  font-size: 36px;
}
